.card {
    max-width: 450px;
    height: 530px;

    display: flex;
    flex-direction: column;
    background-color: var(--bg-card);
    border-radius: 1rem;
    padding: .5rem;
}

.card > input {
    padding: .5rem;
    margin: .5rem;
    border-radius: 1rem;
    border: 0;
    text-align: center;
    outline-width: 0;
}

.card__title {
    margin-top: 1.5rem;
    margin-bottom: .3rem;
    color: var(--font-primary);
    margin-right: auto;
    margin-left: auto;
    text-transform: uppercase;
}

.card__body {
    background-color: var(--bg-primary);
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 1rem;
    height: 70%;
}

.card__stats {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card__stats__type {
    color: var(--bg-primary);
    font-weight: bold;
    background-color: var(--properties-card);
    padding: 5px;
    margin-right: 4px;
    border-radius: 5px;
    text-transform: uppercase;
}

.card__body {
    display: flex;
    align-items: center;
    justify-content: center;
}